%li
  = link_to drivers_path
    Drivers
%li
  = link_to routes_path
    Routes
%li
  = link_to destory_user_session_path do
    %i.icon-signout
    Sign out
-# = link_to "Dashboard", dashboard_path

